<!DOCTYPE html>
<html>
<head>
    <title>Login - FastAPI</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
        
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="row w-100 justify-content-center">
            

            <div id="alert-container" class="col-12 mb-4" style="display: none;">
                <div class="alert" role="alert" id="alert-message"style="max-width: 400px; margin: 0 auto;"></div>
            </div>
            <div id="Login" class="col-md-5 d-flex align-items-stretch">
                <div class="card p-4 w-100" style="box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);">
                    <h1 class="text-center mb-4">Login</h1>
                    <form id="login-form">
                        <div class="mb-3">
                            <input type="text" id="login-username" name="username" class="form-control" placeholder="Nome do usuário" required>
                        </div>
    
                        <div class="mb-3">
                            <input type="password" id="login-password" name="password" class="form-control" placeholder="Senha" required>
                        </div>
    
                        <button type="submit" class="btn btn-primary w-100">Entrar</button>
                    </form>
                </div>
            </div>
    
            <div id="Register" class="col-md-5 d-flex align-items-stretch">
                <div class="card p-4 w-100" style="box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);">
                    <h1 class="text-center mb-4">Registro</h1>
                    <form id="register-form">
                        <div class="mb-3">
                            <input type="text" id="register-username" name="username" class="form-control" placeholder="Nome do usuário" required>
                        </div>
                        <div class="mb-3">
                            <input type="email" id="register-email" name="email" class="form-control" placeholder="email@email.com" required>
                        </div>
    
                        <div class="mb-3">
                            <input type="password" id="register-password" name="password" class="form-control" placeholder="Senha" required>
                        </div>
    
                        <div class="mb-3">
                            <input type="password" id="register-confirm-password" name="confirmed-password" class="form-control" placeholder="Confirmar senha" required>
                        </div>
                        <div class="mb-3">
                            <label for="register-role" class="form-label">Tipo de conta</label>
                            <select id="register-role" name="role" class="form-control" required>
                                <option value="client">Cliente</option>
                                <option value="creator">Criador de Receita</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary w-100" style="margin-top: 10px;">Cadastrar</button>
                    </form>
                </div>
            </div>
    
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
    
    <script>
        document.getElementById("login-form").addEventListener("submit", async function(event) {
            event.preventDefault();
    
            const username = document.getElementById("login-username").value;
            const password = document.getElementById("login-password").value;
    
            const response = await fetch("/token", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                },
                body: new URLSearchParams({
                    "username": username,
                    "password": password
                })
            });
    
            if (response.ok) {
                const data = await response.json();
                localStorage.setItem("token", data.access_token);
                console.log("Login bem-sucedido!");
                window.location.href = "/home"; 
            } else {
                showAlert("Erro no login. Tente novamente.");
            }
        });
    
        document.getElementById("register-form").addEventListener("submit", async function(event) {
        event.preventDefault();

        const username = document.getElementById("register-username").value;
        const email = document.getElementById("register-email").value;
        const password = document.getElementById("register-password").value;
        const confirmedPassword = document.getElementById("register-confirm-password").value;
        const role = document.getElementById("register-role").value;

        if (password !== confirmedPassword) {
            showAlert("As senhas não são iguais!", true);
            return;
        }

        try {
            const response = await fetch("/register", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    username: username,
                    email: email,
                    password: password,
                    role: role 
                })
            });

            const data = await response.json();

            if (response.ok) {
            showAlert(data.message || "Registrado com sucesso!", false);
            } else {
            showAlert(data.detail || "Credencial já cadastrada, tente novamente!", true);
            }
        } catch (error) {
            console.error("Erro ao registrar:", error);
            showAlert("Ocorreu um erro ao tentar registrar. Tente novamente.", true);
        }
});

    
        async function getUserData() {
            const token = localStorage.getItem("token");
    
            // if (!token) {
            //     alert("Você precisa fazer login primeiro!");
            //     return;
            // }
    
            const response = await fetch("/me", {
                method: "GET",
                headers: {
                    "Authorization": `Bearer ${token}`
                }
            });
    
            if (response.ok) {
                const userData = await response.json();
                alert(`Bem-vindo ao Receita!`);
            } else {
                showAlert("Erro ao obter dados do usuário.");
            }
        }

        function showAlert(message, isError = false) {
        const alertMessage = document.getElementById("alert-message");
        const alertContainer = document.getElementById("alert-container");

        alertMessage.textContent = message;
        alertMessage.className = isError ? "alert alert-danger" : "alert alert-success";
        alertContainer.style.display = "block";

        setTimeout(() => {
            alertContainer.style.display = "none";
        }, 5000); 
    }

    </script>
</body>
</html>
