<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="C:\Users\nicol\OneDrive\Documentos\estudos\gerencia-projeto-25.1\static\css\style.css">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <header>
        <div class="logo-container">
            <img src="C:\Users\nicol\OneDrive\Documentos\estudos\gerencia-projeto-25.1\static\imgs\imgs\ReceitaFacil.png" alt="Receita Fácil" class="logo">
        </div>
        <div class="navbar">
            <nav>
                <a href="">Home</a>
                <a href="">Sobre</a>
                <a href="">Contato</a>
         </nav>
        </div>
        <div class="buttons-container">
            <button type="button" class="btn btn-secondary btn-sm d-block w-100 mb-2">Acessar Conta</button>
            <button type="button" class="btn btn-primary btn-sm w-100 d-block">Cadastrar</button>
        </div>
    </header>


    <iframe src="/login" width="100%" height="400px" frameborder="0"></iframe>
</body>
</html>